<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.nuliji.dao.PayMapper">
  <resultMap id="BaseResultMap" type="com.nuliji.proj.Pay">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="client_ip" jdbcType="VARCHAR" property="clientIp" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="module" jdbcType="VARCHAR" property="module" />
    <result column="module_id" jdbcType="VARCHAR" property="moduleId" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="body" jdbcType="VARCHAR" property="body" />
    <result column="transaction_no" jdbcType="VARCHAR" property="transactionNo" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="trade_status" jdbcType="SMALLINT" property="tradeStatus" />
    <result column="pay_time" jdbcType="INTEGER" property="payTime" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
    <result column="pay_info" jdbcType="LONGVARCHAR" property="payInfo" />
    <result column="result_info" jdbcType="LONGVARCHAR" property="resultInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `user_id`, `channel`, `client_ip`, `money`, `module`, `module_id`, `pid`, `subject`, `body`, `transaction_no`,
    `currency`, `trade_status`, `pay_time`, `create_time`, `update_time`, `pay_info`, `result_info`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `pay`
    where `id` = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from `pay`
    where `id` = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nuliji.proj.Pay">
    insert into `pay` (`id`, `user_id`, `channel`, `client_ip`,
      `money`, `module`, `module_id`,
      `pid`, `subject`, `body`,
      `transaction_no`, `currency`, `trade_status`,
      `pay_time`, `create_time`, `update_time`,
      `pay_info`, `result_info`)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{clientIp,jdbcType=VARCHAR},
      #{money,jdbcType=DECIMAL}, #{module,jdbcType=VARCHAR}, #{moduleId,jdbcType=VARCHAR}, 
      #{pid,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, #{body,jdbcType=VARCHAR}, 
      #{transactionNo,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, #{tradeStatus,jdbcType=SMALLINT},
      #{payTime,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}, 
      #{payInfo,jdbcType=LONGVARCHAR}, #{resultInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nuliji.proj.Pay">
    insert into `pay`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        `id`,
      </if>
      <if test="userId != null">
        `user_id`,
      </if>
      <if test="channel != null">
        `channel`,
      </if>
      <if test="clientIp != null">
        `client_ip`,
      </if>
      <if test="money != null">
        `money`,
      </if>
      <if test="module != null">
        `module`,
      </if>
      <if test="moduleId != null">
        `module_id`,
      </if>
      <if test="pid != null">
        `pid`,
      </if>
      <if test="subject != null">
        `subject`,
      </if>
      <if test="body != null">
        `body`,
      </if>
      <if test="transactionNo != null">
        `transaction_no`,
      </if>
      <if test="currency != null">
        `currency`,
      </if>
      <if test="tradeStatus != null">
        `trade_status`,
      </if>
      <if test="payTime != null">
        `pay_time`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
      <if test="updateTime != null">
        `update_time`,
      </if>
      <if test="payInfo != null">
        `pay_info`,
      </if>
      <if test="resultInfo != null">
        `result_info`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null">
        #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="module != null">
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="transactionNo != null">
        #{transactionNo,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null">
        #{tradeStatus,jdbcType=SMALLINT},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="payInfo != null">
        #{payInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="resultInfo != null">
        #{resultInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nuliji.proj.Pay">
    update `pay`
    <set>
      <if test="userId != null">
        `user_id` = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        `channel` = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null">
        `client_ip` = #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        `money` = #{money,jdbcType=DECIMAL},
      </if>
      <if test="module != null">
        `module` = #{module,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null">
        `module_id` = #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        `pid` = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        `subject` = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        `body` = #{body,jdbcType=VARCHAR},
      </if>
      <if test="transactionNo != null">
        `transaction_no` = #{transactionNo,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        `currency` = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null">
        `trade_status` = #{tradeStatus,jdbcType=SMALLINT},
      </if>
      <if test="payTime != null">
        `pay_time` = #{payTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        `update_time` = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="payInfo != null">
        `pay_info` = #{payInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="resultInfo != null">
        `result_info` = #{resultInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nuliji.proj.Pay">
    update `pay`
    set `user_id` = #{userId,jdbcType=VARCHAR},
      `channel` = #{channel,jdbcType=VARCHAR},
      `client_ip` = #{clientIp,jdbcType=VARCHAR},
      `money` = #{money,jdbcType=DECIMAL},
      `module` = #{module,jdbcType=VARCHAR},
      `module_id` = #{moduleId,jdbcType=VARCHAR},
      `pid` = #{pid,jdbcType=VARCHAR},
      `subject` = #{subject,jdbcType=VARCHAR},
      `body` = #{body,jdbcType=VARCHAR},
      `transaction_no` = #{transactionNo,jdbcType=VARCHAR},
      `currency` = #{currency,jdbcType=VARCHAR},
      `trade_status` = #{tradeStatus,jdbcType=SMALLINT},
      `pay_time` = #{payTime,jdbcType=INTEGER},
      `create_time` = #{createTime,jdbcType=INTEGER},
      `update_time` = #{updateTime,jdbcType=INTEGER}
    where `id` = #{id,jdbcType=VARCHAR}
  </update>
</mapper>